@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verydarkblue:hsl(243, 87%, 12%);
    --desaturatedblue: hsl(238, 22%, 44%);


    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);

    
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sriracha&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header > img{
    width: 20vw;
    height: 6vh;
    padding-left: 10px;
    margin: 20px;
}
header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    
}
header a{
    text-decoration: none;
    color: var(--desaturatedblue);
}
header a:hover{
    color: var(--BrightBlue);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    
    
    
}

h1, h2{
    font-family: 'Raleway', sans-serif;
    color: var(--verydarkblue);
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    line-height: 24px;
    
}


.primeira, .segunda{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 90vw;
    gap: 25px;
    margin: 20px 0px;
    text-align: center;
    color: var(--desaturatedblue);

    
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    
    width: 280px;
    height: 40px;
    margin-bottom:15px ;
    padding-left: 5px;
    border-radius: 2px;
    border: 1px solid black;
}

.enviar{
    background-color: var(--BrightBlue);
    width: 280px;
    height: 40px;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    

}

.link{
    color: var(--ModerateCyan);
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-block: 20px;
      
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 1px;
    background-color: var(--ModerateCyan);
  }


.primeira > h1{
    margin-block: 10px;
}

.ilustrações{
    width: 60vw;   
}

.depoimento{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.depoimento p {
    color: var(--verydarkblue);
   
}

#texto{
    margin-bottom: 20px;
    text-align: justify;
}

.aspas{
    display: flex;
    align-self: flex-start;
    margin-bottom: 10px;
}


.perfil{
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: -48px;
   
}
.nome{
    text-align: justify;
    margin-left: 65px;
}

.terceira, .quarta{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100vw;
    gap: 25px;
    margin: 20px 0px;
    text-align: center;
    color: white;
    background-color: var(--verydarkblue);
    margin-bottom: -20px;
    
    
}

.terceira h1{
    color: white;
}

.terceira p{
    margin-inline: 15px;
    
}

.enviar:hover ~ .terceira{
    background-color: rgba(201, 3, 3, 0.897);
    
    
}

.quarta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.logo{
    width: 250px;
    padding-left: 30px;
    margin-top: 150px;
    margin-bottom: 25px;
}

.quarta p{
    padding-left:30px;
}

.quarta p > img{
    padding-right: 13px;
}


.icones{
    display: flex;
    align-self: center;
    margin-block: 20px;
    
    
    
    
}
.icones > img{
    border-radius: 50%;
    width: 45px;
    margin: 10px;


}

.icones > img:hover{
    padding: 4px;
    transition: ease-in-out 0.2s;
    border: 3px solid var(--BrightBlue);
}

.footer:hover{
    color: var(--BrightBlue);
    cursor: pointer;
}

@media (min-width: 950px) and (max-width: 1179px) {

    header > img{
        height: 7vh;
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .email{
        margin-bottom: 0px;
    }

    .quarta{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #phone{
        align-self: flex-end;
        
    }
    .logo{
        padding-bottom: 40px;
    }
    .icones{
        
        justify-content: center;
    }
}

@media (min-width: 1180px) {

    header > img{
        height: 60px;
        
    }
    .terceira h1,p{
        padding-inline: 80px;
    }
    p, li{
        font-size: 18px;
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .email{
        margin-bottom: 0px;
    }

    .quarta{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #phone{
        align-self: flex-end;
        
    }
    .logo{
        padding-bottom: 40px;
    }
    .icones{
        
        justify-content: center;
    }


}

@media (min-width: 1300px){
    header > img{
        height: 70px;
    }
    .primeira, .segunda, .terceira, .quarta{
        padding-bottom: 300px;
    }
    .primeira, .segunda{
        position: relative;
        
        
    }
    .primeira > h1{
        position: absolute;
        top: 100px;
        width: 600px;
        font-size: 35px;
   
    }
    .primeira > p{
        position: absolute;
        top: 220px;
        width: 600px;
    }
    .primeira > form{
        position: absolute;
        top: 330px;
        width: 500px;
        align-self: flex-start;
        padding-left: 40px;
    }

    .primeira > img,.segunda > img{
        width: 60vh;
        align-self: flex-end;
        display: inline-flex;
    }
    
    .segunda > h2{
        position: absolute;
        top:40px;
        width: 600px;
        font-size: 35px;
    }
    .segunda > #p1{
        position: absolute;
        top: 120px;
        width: 600px;
    }
    .segunda > #p2{
        position: absolute;
        top: 190px;
        width: 600px;
    }
    .link2{
        position: absolute;
        top: 290px;
        left: 140px;
    }
   .depoimento{
        position: absolute;
        width: 600px;
        top: 370px;
   }

   

   .terceira > form{
    position: absolute;
    flex-direction: column;
    bottom: -1010px;
    align-self: flex-end;
    right: 100px;
   }
   .email{
    width: 420px;
    height: 47px;
   }
   .enviar{
    align-self: flex-start;
    width: 210px;
    height: 47px;
    
   }
   .terceira > h1{
    position: absolute;
    bottom: -940px;
    width: 600px;
    font-size: 35px;
    
   }
   .terceira > p{
    position: absolute;
    bottom:-1040px;
    width: 600px;
   }
   


}
